<footer>
    <link rel="stylesheet" type="text/css" href="/assents/CSS/style.css">

    <p>Nombre Completo: Brandon Israel Chiroy Tuy</p>
    <p>Carnet: 2290-19-9033</p>
    <p>Universidad Mariano Galvez de Guatemala</p>
</footer>