<link rel="stylesheet" type="text/css" href="/assents/CSS/style.css">

<nav>
    <ul>
        <li><a href="/">Página principal</a></li>
        <li><a href="/electricos">Eléctricos</a></li>
        <li><a href="/gasolina">Gasolina</a></li>
        <li><a href="/diesel">Diesel</a></li>
    </ul>
</nav>