{{> menu }}
<link rel="stylesheet" type="text/css" href="/assents/style.css">
<h1>Información sobre vehículos diésel</h1>
<table>
    <tr>
        <th>Modelo 2024</th>
        <th>Lorem ipsum dolor sit amet consectetur adipisicing elit...</th>
    </tr>
    <tr>
        <td>Vehículo 1</td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit...</td>
    </tr>
    <tr>
        <td>Vehículo 2</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit...</td>
    </tr>
</table>
<img src="/image/diesel.PNG" alt="Diésel 1">
<img src="" alt="Diésel 2">
{{> footer }}