{{> menu }}
<link rel="stylesheet" type="text/css" href="/assents/style.css">
<h1>Información sobre autos eléctricos</h1>
<p>Características de los autos eléctricos...</p>
<img src="/image/electrico.PNG" alt="Eléctrico 1">
<img src="" alt="Eléctrico 2">
{{> footer }}