{{> menu }}
<link rel="stylesheet" type="text/css" href="/assents/style.css">
<h1>Información sobre vehículos de gasolina</h1>
<p>Características de los vehículos de gasolina...</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6k_1RHjXU3A?si=yNrHFhQqH2OL0pI_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<img src="/image/gasolina.PNG" alt="Gasolina">
{{> footer }}