{{> menu }}
<link rel="stylesheet" type="text/css" href="/assents/style.css">
<h1>Información sobre vehículos terrestres de carga</h1>
<img src="/image/diesel.PNG" alt="Diesel">
<img src="/image/electrico.PNG" alt="Electrico">
<img src="/image/gasolina.PNg" alt="Gasolina">
{{> footer }}